
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Rubik+Beastly&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;

}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;

}

h4 {
    font-size: 20px;
    color: #222;

}

h6 {
    font-size: 700;
    line-height: 12px;

}

p {
    font-size: 16px;
    color: #606060;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 15px;
    font-weight: 600;
    padding: 16px 32px;
    color:#FC4F4F;
    background-color: #F7F7F7;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;

}
.section-p1 {
    padding: 40px 80px;

}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    background-color: #F7F7F7;
}

/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #FC4F4F;
    box-shadow: 0 5px15px rgba(0, 0, 0, 0.06); /* Underneath our navbar*/
    z-index: 999;
    position: sticky; /* makes the navbar/header to stick to the top when scrolling */
    top: 0;  /* don't know what this is doing */
    left: 0; /* don't know what this is doing */

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #180A0A;
    transition: 0.5s ease; /* slowly transitions the color when we hover over the navbars*/

}

#navbar li a:hover , 
#navbar li a.active  {
    color: #F7F7F7;
    box-shadow: 0 5px15px rgba(0, 0, 0, 0.1);
}

#navbar i {
    font-size: 25px;

}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home Page */

#hero {
    background-image: url("img/hero4.png");
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #FC4F4F ;
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: #FC4F4F;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 800;
    font-size: 20px;
}

#feuture {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#feuture .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.06);
    border: 1.5px solid lightcoral;
    border-radius: 5px;
}

#feuture .fe-box:hover {
    box-shadow: 10px 10px 80px rgba(60, 56, 250, 0.03);
}

#feuture .fe-box h6 {
    padding: 8px 5px 8px 5px;
    line-height: 1;
    border-radius: 4px;
    color: #FC4F4F;
    background-color: white;
}

#feuture .fe-box:nth-child(2) h6 {
    background-color: #222;
}

#feuture .fe-box:nth-child(4) h6 {
    background-color: #222;
}

#feuture .fe-box:nth-child(6) h6 {
    background-color: #222;
}

#feuture .fe-box img {
    width: 100%;
    margin-bottom: 12px;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; /* when the product line fills the screen it starts a new line */ 
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 12px 12px;
    border: 1.3px solid #2C3333;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.06);
    margin: 10px 0;
    transition: 0.5s ease;
}

#product1 .pro:hover {
    box-shadow: 18px 18px 25px rgba(0, 0, 0, 0.1);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606060;
    font-size: 14px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 20px;
    color: orange;
}

#product1 .pro .des h4 {
    padding-top: 6px;
    font-size: 18px;
    font-weight: 600;
    color: #FC4F4F;
}

#product1 .pro .add-to-cart {
    width: 45px;
    font-size: 20px;
    height: 45px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #DFDFDE; 
    border: 1px solid #2C3333;
   
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-position: center;

}

#banner h4 {
    color: white;
    font-size: 15px;

}

#banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #FC4F4F;
    font-size: 50px;
}

#banner button:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#sm-banner .banner-box { /* the styling below is copied from the #banner styling and edited */ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("img/banner/b17.jpg");
    min-width: 620px;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-position: center;
    padding: 28px;
    
}

#sm-banner h4 {
    color: #F7F7F7;
    font-size: 20px;
    font-weight: 300;

}

#sm-banner h2 {
    color: #FC4F4F;
    font-size: 30px;
    font-weight: 900;

}

#sm-banner span {
    color: #F7F7F7;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 18px;

}

button.white {
    font-size: 15px;
    font-weight: 600;
    padding: 12px 22px;
    color:#FC4F4F;
    background-color: #F7F7F7;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    transition: 0.3s;

}

#sm-banner .banner-box:hover button {
    background: #222;
    border: 1px solid lightgrey;
}

#sm-banner .banner-box2 {
    background-image: url("img/banner/b10.jpg") ;
}

#banner3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 70px;
}

#banner3 .banner-box { /* the styling below is copied from the #banner styling and edited */ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    background-position: center;
    padding: 25px;

}

#banner3 .banner-box { /* the styling below is copied from the #banner styling and edited */ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    background-position: center;
    padding: 25px;

}

#banner3 .banner-box2 {
    background-image: url("img/banner/b4.jpg");

}

#banner3 .banner-box3 {
    background-image: url("img/banner/b18.jpg");

}

#banner3 h2 {
    color: white;
    font-weight: 850;
    font-size: 20px;

}

#banner3 h3 {
    color: #DFDFDE;
    font-weight: 800 ;
    font-size: 14px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #1a1a1a;

}


#newsletter h4 {
    font-size: 33px;
    font-weight: 500;
    color: #DFDFDE;
}

#newsletter p {
    font-size: 20px;
    font-weight: 200;
    color: lightslategray;
}

#newsletter p span {
    color: #FC4F4F;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.5em;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    border-bottom-left-radius: 0;
    
}

#newsletter button {
    background-color: #FC4F4F;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    
}

#newsletter button:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    min-width: 20%;
}
footer .logo {
    margin-bottom: 25px;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 10px;
}

footer p {
    font-size: 14px;
    text-decoration: none;
    color: #1a1a1a;
    margin: 0 0 6px 0;
}

footer a {
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 16px;
}

footer .follow i {
    color: lightslategray;
    padding-right: 5px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid red;
    border-radius: 5px;
}

footer .install img {
    margin: 8px 0 12px 0;
}

footer .follow i:hover,
footer a:hover {
    color: red;
}

footer .copyright {
    width: 100%;
    text-align: center;
    
}

footer .copyright p {
    color: #606060;

}



/* For tablet screen */

@media (max-width: 799px) {

    .section-p1 {
        padding: 40px 50px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -250px;  /* -250PX is added because we don't want to show it on larger screen */
        height: 100vh;
        width: 250px;
        background-color: #FC4F4F;
        box-shadow: 0 30px 50px #1a1a1a;
        padding: 70px 0 0 12px;
        transition: 0.5s;

    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 20px;
        
    }  

    #navbar li a:hover {
        color: yellow;
    } 

    #mobile i {
        color: #222;
        font-size: 28px;
        padding-left: 20px;
    }

    #close {
        display: initial; /* makes the close button appear on smaller screen since we have removed it from bigger screen */
        position: absolute;
        top: 25px;
        left: 20px;
        font-size: 26px;
        color: #222;
    }

    #lg-bag {  /* removes the cart icon on smaller screen */
        display: none;
    }


    /* Hero section */

    #hero {
        height: 65vh;
        padding: 0 80px;
        background-position: top 20% left 70%;
        
    }

    #feuture {
        justify-content: center;

    }

    #feuture .fe-box {
        margin: 18px 18px;
    }

    #product1 .pro-container { 
        justify-content: center;
        
    }

    #product1 .pro {  
        margin: 18px;
        
    }

    #banner { 
        height: 22vh;

    }

    #sm-banner .banner-box {
        
        /* min-width: 620px; */
        min-width: 100%;
        height: 25vh;
        
    }

    #banner3 {
        padding: 0 25px;
    }

    #banner3 .banner-box { 
        width: 32%;
        
    }

    #newsletter .form {
        width: 40%;
    }

    footer .col-install {
        margin: 10px 100px 20px 150px;
        width: 70%;
    }

}

/* For Iphone screen */

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px 40px;
    }

    #header {  
        padding: 10px 25px;
        
    }

    #hero {
        
        height: 60vh;
        background-position: 60%;
        padding: 0 25px;
    }

    h1 {
        font-size: 36px;
        
    }

    h2 {
        font-size: 33px;
       
    }

    #feuture .fe-box {
        width: 120px;
    }

    #product1 .pro {
        width: 100%;
        border-radius: 50px;    
    }

    #banner {
        
        justify-content: center;
        width: 100%;
        height: 35vh;
    }

    #sm-banner .banner-box {
        height: 35vh;
    
    }

    #sm-banner h4 {
        font-weight: 600;
    }
    #sm-banner span {
        font-weight: 700;
        text-shadow: 1.5px 2px #180A0A;
        
    }

    #banner3 h2 {
        display: none;
    }

    #banner3 h3 {
        color: white;
        font-weight: 700;
        font-size: 12px;
        text-shadow: 1.5px 2px #1a1a1a;
    }

    #banner3 .banner-box3 {
        background-position: top 10% right 30%;
    }

    #newsletter {
        padding: 25px 30px;
    }

    #newsletter input { 
        width: 300px;
        
    }

    footer {
        justify-content: space-between;
    }

    footer .col-install {
        width: 100%;
        margin: 5% 15% 15% 15%;
    }


    /* Ssingleproduct.html */
    #prodetails {
        display: flex;
        flex-direction: column;
    
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;

    }


    /* cart page */

    #cart-add {
        flex-direction: column;
        align-items: center;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 10px;
    }
    
}




/* Shop Page */

#page-header {
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    flex-direction: column;
    padding: 16px;

}

#page-header h2 {
    color: #FC4F4F;
}

#page-header p {
    color: #F7F7F7;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: black;
    padding: 14px 18px;
    border-radius: 4px;
    color: #F7F7F7;
    font-weight: 700;
    font-size: 20px;
}

#pagination a:hover {
    background-color: red;
}

#pagination a i {
    font-size: 18px;
    font-weight: 800;
}



/*  Single Product page */

#prodetails {
    display: flex;
    margin-top: 30px;
    
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 40px;
    cursor: pointer;

}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 40px;
}

#prodetails .single-pro-details h4 {
    padding: 25px 0 25px 0;
    color: red;
    font-weight: lighter;
}

#prodetails .single-pro-details h2 {
    font-size: 22px;
}

#prodetails .single-pro-details h6 {
    font-size: 15px;
    
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 8px;
}

#prodetails .single-pro-details input {
    width: 48px;
    height: 44px;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 12px;
}

#prodetails .single-pro-details button {
    background-color: #2C3333;
}

#prodetails .single-pro-details button:hover {
    color: #DFDFDE;
}

#prodetails .single-pro-details span {
    line-height: 26px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
    
}

.small-img-col {
    flex-basis: 23%;
    cursor: pointer;
}

/* CART PAGE  */

#cart {
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 200px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 8px 5px 8px 12px;
}

#cart table thead {
    border: 0.8px solid red;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 16px 0;
}

#cart table tbody tr td {
    padding: 10px 0;
}

#cart table tbody tr td input {
    width: 50px;
    padding: 5px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

#coupon {
    width: 45%;
    margin: 15px;

}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#subtotal h3 {
    color: red;
}

#coupon input {
    padding: 10px 18px;
    outline: none;
    width: 55%;
    border: 1px solid #222;
}

#coupon button,
#subtotal button {
    background-color: #180A0A;
    color: #F7F7F7;
    padding: 12px 18px;
}

#coupon button:hover,
#subtotal button:hover {
    background-color: red;
}

#subtotal {
    width: 50%;
    margin-bottom: 25px;
    border: 0.5px solid #606060;
    padding: 20px;
}

#subtotal table {
    width: 100%;
    margin-bottom: 10px;
}

#subtotal table td {
    width: 50%;
    border: 1px dotted lightslategray;
    padding: 12px;
}

#subtotal .totals {
    font-size: 16px;
    font-weight: 700;
    color: red;
}

